<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SPEAR_standby_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{113.3,113.3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113.3,113.3}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_standby_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{113.3,0},{226.7,113.3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113.3,0},{226.7,113.3}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_standby_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{226.7,0},{340,113.3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{226.7,0},{340,113.3}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,113.3},{113.3,226.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,113.3},{113.3,226.7}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{113.3,113.3},{226.7,226.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113.3,113.3},{226.7,226.7}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{226.7,113.3},{340,226.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{226.7,113.3},{340,226.7}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,113.3},{453.3,226.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{340,113.3},{453.3,226.7}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
		<key>SPEAR_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{453.3,113.3},{566.7,226.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{453.3,113.3},{566.7,226.7}}</string>
			<key>sourceSize</key>
			<string>{113.3,113.3}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SPEAR.png</string>
		<key>size</key>
		<string>{600,300}</string>
		<key>textureFileName</key>
		<string>SPEAR.png</string>
	</dict>
</dict>
</plist>