<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- configuration file for Levels -->
<dict>
	<key>abilities</key>
	<array>
		<dict>
			<key>typeid</key>
			<string>A001</string>
			<key>name</key>
			<string>最强之矛（被动）</string>
			<key>description</key>
			<string>最强之矛能够对敌人造成额外的伤害。额外伤害计算为[战机等级 + 1]。</string>
			<key>data</key>
			<array>
				<dict>
					<key>origin</key>
					<string>2</string>
					<key>delta</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>