<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<!-- Start -->
		<key>start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_001_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,56.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,56.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,113.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,113.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_005_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,170},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,170},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,226.6},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,226.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_002_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,283.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,283.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,340},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,340},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_003_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,396.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,396.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,453.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,453.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_004_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,510},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,510},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,566.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,566.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>start_005_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,623.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,623.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<!-- Settings -->
		<key>settings_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,680},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,680},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_001_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,736.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,736.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,793.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,793.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_002_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,850},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,850},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,906.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,906.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_003_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,963.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,963.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1020},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1020},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_004_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1076.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1076.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1133.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1133.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_005_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1190},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1190},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1246.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1246.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>settings_006_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1303.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1303.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<!-- Help -->
		
		<key>help_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1360},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1360},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_001_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1416.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1416.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,0},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,0},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_002_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,56.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,56.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,113.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,113.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_003_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,170},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,170},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,226.6},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,226.6},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_004_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,283.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,283.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,340},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,340},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_005_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,396.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,396.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,453.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,453.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>help_006_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,510},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,510},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<!-- About -->
		<key>about_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,566.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,566.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_001_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,623.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,623.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,680},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,680},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_002_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,793.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,793.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,736.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,736.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_003_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,850},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,850},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,906.7},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,906.7},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
		<key>about_004_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,963.3},{510,56.7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510,963.3},{510,56.7}}</string>
			<key>sourceSize</key>
			<string>{510,56.7}</string>
		</dict>
	</dict>
	
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>menu_items.png</string>
		<key>size</key>
		<string>{1024,1664}</string>
		<key>textureFileName</key>
		<string>menu_items.png</string>
	</dict>
</dict>
</plist>
